<h1>Template Driven Forms</h1>
<form #myForm (ngSubmit)="onFormSubmit($event)">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" ngModel />

  <label for="mail">Email</label>
  <input type="text" id="mail" name="mail" ngModel />

  <button type="submit">Submit</button>
</form>

<h1>Reactive Forms with Signals</h1>

<form [formGroup]="sampleReactiveForm" (ngSubmit)="onFormSubmit()">
  <label for="name">Name</label>
  <input type="text" id="name" formControlName="name" />

  <label for="mail">Email</label>
  <input type="text" id="mail" formControlName="mail" />

  <div formArrayName="address">
    <div *ngFor="let address of addressArray().controls; let i = index">
      <div [formGroupName]="i">
        <label for="address-{{ i }}">City {{ i + 1 }}</label>
        <input type="text" [formControlName]="'city'" id="address-{{ i }}" />
        <label for="address-{{ i }}">zipCode {{ i + 1 }}</label>
        <input type="text" [formControlName]="'zipCode'" id="address-{{ i }}" />
      </div>
    </div>
  </div>

  <button type="submit">Submit</button>
  <button type="button" (click)="addAddress()">Add More Address</button>
</form>
